 <!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Ubuntu:300,400,500,700" rel="stylesheet">
	<style type="text/css">
	*{box-sizing: border-box;}
	body {font-family: 'Ubuntu', sans-serif;}
	img{max-width: 100%;}
	li{list-style: none;}
</style>
</head>
<body style="margin:0 auto; padding:0px; background: #fff">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center"  class="main-tbl" style="table-layout: fixed;">
	<tr>
	   <td align="center" width="600">
	      <table border="0" cellspacing="0" cellpadding="10" align="center" style="background: #ffd865;">
	         <tr>
		            <td align="center" >
		               <table border="0" cellspacing="0" cellpadding="0" align="center">
		                  <tr>
		                     <td align="left" width="165" style="vertical-align: top;">
			                        <!-- <table width="165" border="0" cellspacing="0" cellpadding="0" align="left">
			                           <tr>
			                              <td>
			                                 <img src="<%=serverPath%>/storage/popups/TWB-Logo.png" alt="" title="" style="width: 115px;">
			                              </td>
			                           </tr>
			                        </table> -->
		                     </td>
		                     <td align="right" style="vertical-align: top;" width="415">
		                        
		                     </td>
		                  </tr>
		               </table>
		            </td>
	         </tr>
	      </table>
	   </td>
	</tr>

			<tr>
			   <td width="600"  align="left" style="vertical-align: top;">
			      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr>
						<td style="text-align: center;padding: 25px 0 0px;" width="600">
							<p style="margin-bottom: 0px; margin-top:0;color:#444;padding-top: 0px;padding-bottom:0;font-size: 15px; line-height: 22px;text-align: left;">Hi <b><%=name%></b>,</p>
							<p style="margin-bottom: 0px; margin-top:0px; padding-top: 10px;padding-bottom: 0px;font-size: 15px; line-height: 22px; color: #444;">Forgot your password? <br> Not to worry, it happens to all of us :)</p>
							<p style="margin-bottom: 10px; margin-top:0px; padding-top: 10px;padding-bottom: 0px;font-size: 15px; line-height: 22px; color: #444;">Click on the link below to reset your password</p>
						</td>
					</tr>
	        		<tr>
					    <td style="text-align: center;padding:10px 0 0 " width="600">
					    	<a href="<%=link%>" style="padding: 20px;background: #ffd865;display: inline-block;margin: 0 auto;color: #2e75b5;text-align: center;font-weight: 600;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border: 1px solid #2e75b5;min-width: 250px;">Reset your password</a>
						</td>
					</tr>
					<!-- <tr>
					    <td style="text-align: center;padding: 35px 0; " width="600">
					    	<p style="font-size: 15px; line-height: 22px; color: #444;margin-bottom: 0px; margin-top:0px; text-align: center;padding-bottom: 15px;">If this request hasn’t come from you, please ignore it or write to us to let us know.</p>
					    	<p style="font-size: 15px; line-height: 22px; color: #444;margin: 0;padding: 0;">Have a query? Send us an email at <a href="#" style="color:#2e75b5; text-decoration:underline;font-weight: 600;">support@getlitt.co</a></p>
						</td>
					</tr> -->
		      </table>
		   </td>
	</tr>
	
	<!-- <tr>
	   <td align="center" width="600" style="background: #ffd865;">
	      <table border="0" cellspacing="0" cellpadding="15" align="center">
	         <tr>
	            <td align="center" >
	               <table border="0" cellspacing="0" cellpadding="0" align="center">
	                  <tr>
	                     <td align="center" colspan="3">
		                     <h4 style="margin-bottom: 0px; margin-top:0px; text-align: center;padding: 5px 0; color:#000;font-size: 16px;">Connect with us on</h4>
	                     </td>
	                  </tr>
	                  <tr align="center">
		                  	<td colspan="4">
			                  	<table>
			                  		<tr>
			                  			<td style="padding-right: 10px;margin-right: 10px;"><a href="#" style=""><img src="<%=serverPath%>/storage/popups/facebook-logo.png" style="width: 16px;"></a></td>
										<td style="padding-right: 10px;margin-right: 10px;"><a href="#" style=""><img src="<%=serverPath%>/storage/popups/twitter-logo.png" style="width: 16px;"></a></td>
										<td style="padding-right: 10px;margin-right: 10px;"><a href="#" style=""><img src="<%=serverPath%>/storage/popups/instagram-logo.png" style="width: 16px;"></a></td>
										<td style="padding-right: 10px;margin-right: 10px;"><a href="#" style=""><img src="<%=serverPath%>/storage/popups/pinterest-logo.png" style="width: 16px;"></a></td>
			                  		</tr>
			                  	</table>
			                 </td>
					  </tr> 
	                  <tr align="center">
		                  	<td colspan="4">
		                  		<table>
		                  			<tr style="line-height: 14px;">
		                  				<td style="padding-right: 10px;border-right: 1px solid #000;"><a href="www.getlitt.co" style="white-space: nowrap;color:#2e75b5; text-decoration:underline;">www.getlitt.co</a></td>
									<td style="padding-right: 10px;padding-left: 10px;border-right: 1px solid #000;"><p style="white-space: nowrap;margin: 0; padding: 0;">Available on ios</p></td>
									<td style="padding-right: 10px;padding-left: 10px;"><p style="white-space: nowrap;margin: 0; padding: 0;">Available on Google Play Store</p></td>
		                  			</tr>
		                  		</table>
							</td>
	                  </tr>
	                  <tr align="center">
		                  	<td align="center" colspan="3">
		                  		<p style="margin-bottom: 0px; margin-top:0px; padding-top: 5px;padding-bottom: 5px;font-size: 15px; line-height: 22px; color: #444; text-align: center;">Copyright 2018 @ Writer's Bug Learning Pvt. Ltd.</p>
		                  	</td>
	                  </tr>
	                  <tr align="center">
		                  	<td colspan="4">
		                  		<table>
		                  			<tr style="line-height: 14px;">
		                  				<td style="padding-right: 10px;border-right: 1px solid #000;"><a href="https://www.getlitt.co/terms-and-conditions" style="color:#2e75b5; text-decoration:underline;">Terms of Use</a></td>
										<td style="padding-right: 10px;border-right: 1px solid #000;padding-left: 10px;"><a href="https://www.getlitt.co/privacy-policy" style="color:#2e75b5; text-decoration:underline;">Privacy Policy</a></td>
										<td style="padding-right: 10px;/*border-right: 1px solid #000;*/padding-left: 10px;"><a href="https://www.getlitt.co/disclaimer" style="color:#2e75b5; text-decoration:underline;">Disclaimer</a></td>
		                  			</tr>
		                  		</table>
		                  	</td>
	                  </tr>
	               </table>
	            </td>
	         </tr>
	      </table>
	   </td>
	</tr> -->
</table>
</body>
</html>


